
.row{
	clear:both;/* deals with column floats */
}
.row:first-child > .cell{
	border-top:1px solid #000;
}
.cell{
	border-right:1px solid #000;/* outline grid for visibility*/
	border-bottom:1px solid #000;
	padding:5px;
	float:left; /* or display inline - either would probably work. */
	cursor:pointer; 
}
.cell:first-child{
	border-left:1px solid #000;
}